# Ambientes virtuais Python
backend/venv/
venv/
__pycache__/
*.pyc

# Dependências do Node.js
frontend/node_modules/
frontend/build/
frontend/.env

# Arquivos do VS Code
.vscode/
*.code-workspace

# Arquivos do Arduino (compilados, temporários)
arduino/*/build/
arduino/*/.vscode/

# IDE do Arduino
arduino/*/*.ino.previous
arduino/*/*.cpp
arduino/*/*.h

# Logs e dados temporários
*.log
*.tmp

# Arquivos de sistema
.DS_Store
Thumbs.db
